# 404 page
ErrorDocument 404 404.html

# UTF-8
AddDefaultCharset UTF-8

# Add correct content-type for fonts & SVG
AddType application/x-javascript .js
AddType text/css .css
AddType text/xml .xml
AddType application/octet-stream .doc .mov .avi .pdf .xls 
AddType application/vnd.ms-fontobject .eot 
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType application/x-font-woff2 .woff2
AddType image/svg+xml .svg

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

<ifModule mod_headers.c>
    #кэшировать css, javascript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt)$">
        Header set Cache-Control "max-age=31557900"
    </FilesMatch>
    #кэшировать флэш на год
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png|webp)$">
        Header set Cache-Control "max-age=31557900"
    </FilesMatch>
    #кэшировать шрифты на год
    <FilesMatch "\.(ttf|woff|woff2|woff|otf|svg|eot)$">
        Header set Cache-Control "max-age=31557900"
    </FilesMatch>
    #отключить кэширование
    <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
        Header unset Cache-Control
    </FilesMatch>
</IfModule>

<ifModule mod_expires.c>
    ExpiresActive On
    #по умолчанию кэш в 5 секунд
    ExpiresDefault "access plus 5 seconds"
    #кэшировать флэш и изображения на месяц
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType application/x-shockwave-flash "access plus 1 year"
    #кэшировать css, javascript и текстовые файлы на одну неделю
    ExpiresByType text/css "access plus 1 year"
    ExpiresByType text/javascript "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"
    #кэшировать html и htm файлы на один день
    ExpiresByType text/html "access plus 43200 seconds"
    #кэшировать xml файлы на десять минут
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
    #кэшировать шрифты на месяц
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    ExpiresByType application/x-font-ttf "access plus 1 year"
    ExpiresByType application/x-font-opentype "access plus 1 year"
    ExpiresByType application/x-font-woff "access plus 1 year"
    ExpiresByType application/x-font-woff2 "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
</ifModule>

# Redirect to https 
# RewriteEngine On
# RewriteCond %{SERVER_PORT} !^443$
# RewriteRule .* https://xn--80adiabrxwdfmgkdkkd1f.xn--p1ai/$1 [R=301,L]

# Redirect from www to without www
# Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.xn--80adiabrxwdfmgkdkkd1f.xn--p1ai$ [NC]
RewriteRule ^(.*)$ https://xn--80adiabrxwdfmgkdkkd1f.xn--p1ai/$1 [R=301,L]

### Удалить заголовок ETag (иначе есть проблемы с кешированием при включенном сжатии)
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

